page-new-finance {
    .formNewFinance {
        padding: 15px;
        border: none;
        background: #fff !important;
        box-shadow: 1px 2px 8px #888;
        border-radius: 4px;
        .text-input {
            text-align: end !important;
        }
        ion-select {
            text-align: end !important;
            width: 100% !important;
            max-width: 100% !important;
        }
    }
}